
//
//  Toolbar
//  ---------------------------------------------

.toolbar {
    @include make-flex();
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    margin-bottom: 32px;
    font-size: 14px;

    p,
    .field{
        @include make-flex();

        .label{
            margin-right: 10px;
            color: $text-light;
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
        }
    }

// Items order
    .field.toolbar-sorter{
        @include order(3);
    }
    p.toolbar-amount{
        @include order(2);
    }
    .field.limiter {
        @include order(4);
    }
    .modes {
        @include order(1);
    }
    @media (min-width: $screen-sm-min){
        .field.toolbar-sorter{
            @include order(3);
            @include flex-basis(50%);
        }
        p.toolbar-amount{
            @include order(1);
        }
        .field.limiter {
            @include order(5);
            @include flex-basis(50%);
            @include justify-content(flex-end);
        }
        .modes {
            @include order(2);
        }
    }
    @media (min-width: $screen-md-min){
        .field.toolbar-sorter{
            @include order(1);
            @include flex-basis(auto);
            margin-right: auto;
        }
        p.toolbar-amount{
            @include order(2);
            margin: 0;
        }
        .field.limiter {
            @include order(3);
            @include flex-basis(auto);
            margin-left: auto;
        }
        .modes {
            @include order(4);
        }
    }
}

//Sorter
.field.toolbar-sorter{
    @include flex-basis(100%);
    @include justify-content(flex-start);
    @include align-items(center);

    @media (min-width: $screen-md-min){
        @include flex-basis(auto);
    }

    @media (max-width: $screen-sm-min - 1){
        @include flex-wrap(wrap);
    }

    .label{
        @media (max-width: $screen-sm-min - 1){
            display: block;
            @include flex-basis(100%);
            margin-bottom: 8px;
        }
    }

    .control{
        @include flex-grow(3);

        @media (min-width: $screen-sm-min){
            @include flex-grow(1);
            max-width: 250px;
        }

        .select2-container{
            max-width: none;
            @media (min-width: $screen-sm-min){
                max-width: 250px;
            }
        }
    }

    .sorter-action{
        margin-left: $indent-small;
        span{
            display: none;
        }
        &.sort-asc,
        &.sort-desc{
            @include font-icon('\ee7d');
            font-size: 14px;
            line-height: 1;
        }
        &.sort-desc{
            transform: rotate(180deg);
        }
    }
}

//Amount
p.toolbar-amount{
    @include make-flex();
    @include justify-content(center);
    @include align-items(center);
    @include flex-basis(100%);
    margin: 24px 0 16px;

    @media (min-width: $screen-sm-min){
        @include flex-basis(auto);
    }

    span.toolbar-number{
        &:first-child,
        &:nth-child(2),
        &:last-child{
            margin-right: 2px;
            margin-left: 2px;
        }
    }
}

//Limiter
.field.limiter{
    @include flex-basis(100%);
    @include justify-content(flex-start);
    @include align-items(center);
    margin-bottom: 0;

    @media (min-width: $screen-md-min){
        @include flex-basis(auto);
        @include justify-content(flex-start);
        margin-left: auto;
    }

    @media (max-width: $screen-sm-min - 1){
        @include flex-wrap(wrap);
    }

    .label{
        @media (max-width: $screen-sm-min - 1){
            display: block;
            @include flex-basis(100%);
            margin-bottom: 8px;
        }
    }

    .control{
        @include flex-grow(3);
        @media (min-width: $screen-sm-min){
            @include flex-grow(0);
        }

        .select2-container{
            max-width: none;
            @media (min-width: $screen-sm-min){
                max-width: 250px;
            }
        }
    }
    .limiter-text{
        display: none;
    }
}


// Modes
.modes{
    @include make-flex;
    @include justify-content(flex-end);
    @include align-items(center);
    @include flex-basis(130px);
    margin-bottom: 0;

    @media (min-width: $screen-md-min){
        @include flex-basis(auto);
    }

    .modes-label{
        display: none;
    }
    .modes-mode{
        margin-left: 8px;
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 4px;
        &:before{
            font-size: 14px;
            line-height: 50px;
            text-align: center;
            width: 100%;
        }
        &:not(.active){
            border: 1px solid $border-color;
            &:hover{
                color: $link-hover;
            }
        }
        &.active{
            color: $text-lightest;
            background: $bg-dark;
        }

        span{
            display: none;
        }
    }
    .mode-grid{
        @include font-icon('\ea88');
    }
    .mode-list{
        @include font-icon('\ea9d');
    }
}

//Pages
.pages{
    display: none;
    margin-bottom: 0;
    padding: 8px 0;

    .pages-items{
        @include make-flex;
        @include align-items(center);
        @include order(1);

        li + li{
            margin-left: 4px;
        }
    }
    .item{
        a,
        strong{
            display: block;
            text-align: center;
            font-size: 24px;
            line-height: 24px;

        }
        &:not(.pages-item-previous):not(.pages-item-next) a,
        &.current strong{
            line-height: 48px;
            font-weight: 400;
            height: 50px;
            width: 50px;
            border-radius: 4px;
            background: $bg-dark;
            border: 1px solid $bg-dark;
            color: $default;
            &:hover{
                border-color: $border-color;
                background: $white;
            }
        }
        &.current strong{
            border-color: $border-color;
            background: $white;
        }
        &.pages-item-previous,
        &.pages-item-next{
            a{
                color: $primary;
                &:hover{
                    color: $default;
                }
                .label {
                    display: none;
                }
            }
            a span:not(.label){
                @include font-icon();
            }
        }
        &.pages-item-previous a span:not(.label):before{
            content: '\e94b';
        }
        &.pages-item-next a span:not(.label):before{
            content: '\e94c';
        }
    }
}


.tollbar-bottom {
    .pages{
        display: block;
    }
    .toolbar-amount,
    .toolbar-sorter,
    .field.limiter,
    .modes {
        display: none;
    }

    .toolbar{
        @include justify-content(center);

        @media (min-width: $screen-sm-min){
            @include justify-content(space-between);
        }

        @media (max-width: $screen-md-min - 1){
            padding-top: 24px;
            border-top: 1px solid $border-color;
        }
    }
    .field.limiter {
        @media (min-width: $screen-sm-min){
            @include make-flex;
            @include order(2);
            @include flex-basis(auto);
            margin-left: auto;
        }
    }
    .modes {
        @media (min-width: $screen-sm-min){
            @include make-flex;
            @include order(3);
            @include flex-basis(auto);
        }
    }
}
