<!--<div class="formcontainer">-->
    <div class="field" id="doctor-address">
        <label for="doctor-address" class="label"> <span>Doctor Address </span> </label>
        <div class="input-box">
            <input type="text" name="doctor_address" class="input-text" id="autocomplete" placeholder="Enter Doctor Address here." title="Enter Doctor Address here." autocomplete="off">
        </div>

        <div class="input-box">
            <input type="text" name="doctor_address" class="input-text" id="autocomplete" placeholder="Enter Doctor Address here." title="Enter Doctor Address here." autocomplete="off">
        </div>

    </div>
    <input type="hidden" name="street_number" class="input-text" id="street_number"  autocomplete="off">

    <input type="hidden" name="street_name" class="input-text" id="street_number"  autocomplete="off">

    <input type="hidden" name="locality" class="input-text" id="locality"  autocomplete="off">

    <input type="hidden" name="administrative_area_level_1" class="input-text" id="administrative_area_level_1"  autocomplete="off">

    <input type="hidden" name="postal_code" class="input-text" id="postal_code" title="Enter Store Address here." autocomplete="off">

</div>
<script>
    require.config({
        map: {
            '*': {
                'googleMapPlaceLibrary': 'https://maps.googleapis.com/maps/api/js?key=<?php echo $block->getGoogleApiKey()?>&v=3.exp&libraries=places'
            }
        }
    });
</script>
<script type="text/x-magento-init">
    {
        "*": {
            "IdeaInYou_Doctor/js/autofill": {
                "apikey": "<?php echo $block->getGoogleApiKey()?>",
            }
        }
    }
</script>
