<?php
/** @var \IdeaInYou\Doctor\Block\Product\Doctor\Listing $block */
/** @var \IdeaInYou\Doctor\Api\Data\DoctorInterface $doctor */
?>
<div class="doctors-container">
    <h3><?= __('Doctors:') ?></h3>
    <div class="doctors-list">
        <?php foreach ($block->getList()->getItems() as $doctor): ?>
            <div class="doctor-item">
                <img width="150" height="150" src="<?= $block->getImageUrl($doctor->getImage())?>">
                <p><?= $doctor->getName(); ?></p>
                <p><?= $doctor->getAddress(); ?></p>
<!--                <p>--><?//= $doctor->getFoundationYear(); ?><!--</p>-->
            </div>
        <?php endforeach; ?>
    </div>
</div>
