/* 
 * 	Featured Product by TemplateMonster 2016
 *	v1.0.0
 */

// import
@import '_variables.scss';
@import '_mixins.scss';
@import '_products-grid.scss';
@import '_products-list.scss';
@import '_products-sidebar.scss';

/* Main Styles */



.block.widget.featured {
    .product-item{
        position: relative;
        max-width: 100%;

        .product-item-info {
            position: relative;
        }

        // label
        .product-label{
            position: absolute;
            top: 10px;
            right: 25px;
            z-index: 9;
            font-size: $label-size;
            color: $label-color;
            background-color: $label-bg;
            padding: 3px 10px;
            font-weight: 700;
        }
    }

    .not-found {
        padding: 0;
        margin: 0;

        @media (max-width: 767px) {
            padding: 0 0 15px;
            margin: -30px 0 0;
        }

    }
}


// Carousel
.block.widget.featured .products-grid .owl-carousel .owl-item .product-item {
    width: 100%;
}

.block.featured {
    float: none;

    .block-content .owl-carousel{

        // controls
        .owl-controls {
            position: absolute;
            top: -30px;
            right: 10px;

            .owl-prev{
                @include font-icon("\f104");
                display: inline-block;
            }
            .owl-next{
                @include font-icon("\f105");
                display: inline-block;
            }
            .owl-prev,
            .owl-next{
                padding: 0 7px;
                cursor: pointer;
                &:before{
                    font-size: 36px;
                    line-height: 20px;
                    color: $accent;
                    transition: $default-transition;
                }
                &:hover{
                    &:before{
                        color: $primary;
                    }
                }
            }
        }
    }
}
