input,textarea,select {
  -webkit-appearance: none;
  appearance: none;
}
.custom-table-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  position: relative;
}

body {
  background: #F5F5F5;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.sub_q {
  text-align: center;

  .tooltip {
    &:before {
      content: '';
      background-image: url('../../IdeaInYou_Catalog/images/tooltip.png');
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-right: 20px;
      vertical-align: middle;
      display: inline-block;
    }
  }

  a {
    font-size: 14px;
    text-decoration: underline;
    color: #000;
    font-weight: 400;
    vertical-align: middle;
    display: inline-block;
  }
}

span.sub_q {
  .tooltip {
    padding-top: 5px;

    &:before {
      margin: 0;
    }
  }
}

.p-form {
  margin-top: 55px;
}

.custom-table-element {
  width: 25%;
  text-align: center;

  &.custom-table-element-titles {
    padding-top: 30px;
  }

  .p-item-select {
    label {
      display: inline-block;
    }

    .label-title {
      display: block;
      margin-bottom: 10px;
    }

    span {
      font-size: 14px;
      display: block;
    }

    .select2-container--default .select2-selection--single {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4023984593837535) 0%, rgba(255, 255, 255, 1) 100%);
      border: 0;
      -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    }

    .select2-container .select2-selection--single, &.p-select-title {
      height: 70px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 72px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
      top: 12px;
    }
  }
}

.p-item-select.p-select-title {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer-p-links .sub_q {
  text-align: left;
  padding-left:11%;
  a {
    margin-bottom:7px;
  }
}
.next-step-button {
  margin: 30px 0;
}
.next-step-button input {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  padding: 20px 0;
  background: linear-gradient(#F57C00, #D84315);
  border:0;
  -webkit-appearance: none;
  appearance: none;
}
.step-back {
  position: absolute;
  top: 15px;
  right: 15px;
  .step-back-button {
    width: 40px;
    height: 40px;
    border-radius: 0;
    cursor: pointer;
    background: linear-gradient(#F57C00, #D84315);
    transition: all 0.5s;
    &:hover {
      background: #F68B1E;
    }
  }
  .step-back-button:before,.step-back-button:after {
    content: '';
    height: 3px;
    width: 26px;
    background: #fff;
    position: absolute;
    display: inline-block;
    top: 19px;
    right: 7px;
  }
  .step-back-button:before {
    transform: rotate(45deg);
  }
  .step-back-button:after {
    transform: rotate(-45deg);
  }
}
.page-attr-title {
  margin-top: 25px;
}
.q_step {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .q_step_content {
    width: 100%;
    text-align: center;
  }
  .page-attr-title {
    max-width: 300px;
    margin: 0 auto;
    display: inline-block;
  }
  .answer_buttons {
    display: flex;
    justify-content: space-between;
    input[type='button'] {
      width: 48%;
      text-transform:uppercase;
      color: #000;
      font-size: 15px;
      font-weight:600;
      -webkit-appearance: none;
      appearance: none;
      padding: 15px 0;
      border: 0;
      &.yes_button {
        background: linear-gradient(#F57C00, #D84315);;
      }
      &.no_button {
        background: #fff;
        border: 7px solid #F15A20;
      }
    }

  }
}
.options_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  > input {
    display: none;
  }
  label {
    background: #fff;
    width: 60%;
    display: inline-flex;
    justify-content: center;
    font-size: 23px;
    line-height: 26px;
    height: 135px;
    margin: 0 auto 20px;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    border: 7px solid transparent;
    transition: all 0.5s;
  }
  input:checked + label {
    border-color: #F05220;
  }
}
.o_step {
  .page-attr-title {
    max-width: 255px;
    margin: 0 auto;
  }
}
.origin_step {
  .page-attr-title {
    max-width: 300px;
    margin: 25px auto;
  }
  .postal_code {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  label > span {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  .schedule_buttons {
    margin: 80px 0;
  }
  label.address span,label.email span{
    margin-bottom: 15px;
  }
  .postal_code {
    label {
      width: 30%;
    }
    input {
      width: 38%;
      &:nth-child(3) {
        width: 25%;
      }
    }

  }
  input:not([type="button"]) {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  }
}
.se_step {
  .page-attr-title {
    margin-bottom: 50px;
  }
  height: 100vh;
  display: flex;
  align-items: center;
  .next-step-button {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  .se_step_content {
    position: relative;
    width: 100%;
    min-height: 525px;
    bottom: 0;
  }
}