<div class="s_step origin_step" data-bind="attr: {id: blockSelector}, visible: visible">
    <div class="s_step_content">
        <div class="page-attr-title">
            <h2 data-bind="text: $t('Please schedule your visit Address management')"></h2>
        </div>
        <form data-bind="attr: {id: formId}" data-mage-init='{"validation":{}}'>
            <div class="schedule_buttons">

                <label class="postal_code">

                    <span data-bind="text: $t('Postal Code')"></span>
                    <input data-validate="{required:true}" type="text" id="postalCode1" name="postalCode1" data-bind="
                            value: postalCode1, valueUpdate: 'afterkeydown',
                            attr: {placeholder: $t('Insert Postal Code')}" />

                    <input data-validate="{required:true}"type="text" id="postalCode2" name="postalCode2" data-bind="
                            value: postalCode2, valueUpdate: 'afterkeydown'" />
                </label>

                <label class="address">
                    <span data-bind="text: $t('Address')"></span>
                    <input data-bind="
                            value: address, valueUpdate: 'afterkeydown', validationElement:address,
                            attr: {placeholder: $t('Insert Address')}"
                           id="address" data-validate="{required:true}"
                           name="address" type="text">
                </label>

            </div>
            <div class="next-step-button">
                <input type="button" data-bind="click: setAddressInfo, attr: {value: $t('Next step')}">
            </div>
        </form>
    </div>
</div>
