<div class="o_step" data-bind="visible: visible">
    <div class="o_step_content">
        <div class="page-attr-title">
            <h2 data-bind="text: $t('Please select the correct option')"></h2>
        </div>
        <form>
            <div class="options_buttons" data-bind="foreach: { data: choiceOptions, as: 'item', noChildContext: true  }">

                <input name="op" type="radio"
                       data-bind="click: $parent.selectOption,
                                  attr: {id: `op_`+$data.value, value: $t($data.text)}">
                <label data-bind="attr:{for: `op_`+$data.value}, text: $t($data.text)">
                </label>

            </div>

            <div class="next-step-button">
                <input type="button" data-bind="attr: {value: $t('Next step')}, click: nextStepClick">
            </div>
        </form>
    </div>
</div>
