<div class="se_step origin_step" data-bind="visible: visible">
    <div class="se_step_content">
        <div class="page-attr-title">
            <h2 data-bind="text: $t('We will send you an email with more instructions!')"></h2>
        </div>
        <form data-bind="attr: {id: formId}" data-mage-init='{"validation":{}}'>
            <div class="sendemail_buttons">

                <label class="email">
                    <span data-bind="text: $t('Email')"></span>
                    <input data-validate="{required:true, 'validate-email':true}"
                           type="text" id="email" name="email" data-bind="
                            value: email, valueUpdate: 'afterkeydown',
                            attr: {placeholder: $t('Insert email')}" >
                </label>
            </div>

            <div class="next-step-button">
                <input type="button" data-bind="click: sendEmail, value: $t('Confirm')">
            </div>
        </form>
    </div>
</div>