<div class="q_step" data-bind="visible: visible">
    <div class="q_step_content">
        <div class="page-attr-title">
            <h2 data-bind="text: $t('Do you want to add prescription lenses?')"></h2>
        </div>
        <form>
            <div class="answer_buttons">
                <input class="yes_button" type="button"  data-bind="click: setAnswerTrue, attr: {value: $t('Yes')}">
                <input class="no_button" type="button" data-bind="click: setAnswerFalse, attr: {value: $t('No')}">
            </div>
        </form>
    </div>
</div>
