<?php
/* @var IdeaInYou\Catalog\Block\Index $block */
?>
<div data-bind="scope: 'yes-no-question'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

<div data-bind="scope: 'select-options'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

<div data-bind="scope: 'schedule-visit'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

<div data-bind="scope: 'send-email'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

<script type="text/x-magento-init">
{
     "*": {
         "Magento_Ui/js/core/app": {
              "components": {
                  "global": {
                        "component": "IdeaInYou_Catalog/js/bpp/global",
                        "scheduleVisitAddressRoute": "<?= $block->getScheduleVisitAddressRoute(); ?>",
                        "sendEmailRoute": "<?= $block->getSendEmailRoute(); ?>",
                        "loaderGif" : "<?= /* @escapeNotVerified */ $block->getViewFileUrl('images/loader-1.gif'); ?>"
                  },
                  "yes-no-question": {
                        "component": "IdeaInYou_Catalog/js/bpp/yes_no_question",
                        "template" : "IdeaInYou_Catalog/bpp/yes_no_question"
                  },
                  "select-options": {
                        "component": "IdeaInYou_Catalog/js/bpp/select_option",
                        "template" : "IdeaInYou_Catalog/bpp/select_option"
                  },
                  "schedule-visit": {
                        "component": "IdeaInYou_Catalog/js/bpp/schedule_visit",
                        "template" : "IdeaInYou_Catalog/bpp/schedule_visit"
                  },
                  "send-email": {
                        "component": "IdeaInYou_Catalog/js/bpp/send_email",
                        "template" : "IdeaInYou_Catalog/bpp/send_email"
                  }
              }
         }
     }
}
</script>