<?php

use IdeaInYou\Catalog\Model\Config\AttributeCodes;

/** @var \IdeaInYou\Catalog\Block\Index54 $block */

$leftEyeSphere = $block->getProductAttributeByCode(AttributeCodes::LEFTEYE_SPHERE_ATTRIBUTE_CODE);
$rightEyeSphere = $block->getProductAttributeByCode(AttributeCodes::RIGHTEYE_SPHERE_ATTRIBUTE_CODE);
$leftEyeCylinder = $block->getProductAttributeByCode(AttributeCodes::LEFTEYE_CYLINDER_ATTRIBUTE_CODE);
$rightEyeCylinder = $block->getProductAttributeByCode(AttributeCodes::RIGHTEYE_CYLINDER_ATTRIBUTE_CODE);
$leftEyeAxis = $block->getProductAttributeByCode(AttributeCodes::LEFTEYE_AXIS_ATTRIBUTE_CODE);
$rightEyeAxis = $block->getProductAttributeByCode(AttributeCodes::RIGHTEYE_AXIS_ATTRIBUTE_CODE);
$leftEyeAdd = $block->getProductAttributeByCode(AttributeCodes::LEFTEYE_ADD_ATTRIBUTE_CODE);
$rightEyeAdd = $block->getProductAttributeByCode(AttributeCodes::RIGHTEYE_ADD_ATTRIBUTE_CODE);

?>

<div class="page-attr-title">
    <h2><?= __('Please insert your most recent prescription details below'); ?></h2>
    <div class="sub_q"><span class="tooltip"></span> <a
                href="#"><?= __('How do I read my glasses prescription (Rx)?'); ?></a></div>
</div>

<div class="p-form">
    <form method="post">

        <div class="custom-table-row">

            <div class="custom-table-element custom-table-element-titles">
                <div class="p-item-select p-select-title">
                    <label>
                        <span>OD</span>
                        <span>(Right)</span>
                    </label>
                </div>
                <div class="p-item-select p-select-title">
                    <label>
                        <span>OS</span>
                        <span>(left)</span>
                    </label>
                </div>
            </div>


            <div class="sph-left-right custom-table-element">
                <div class="p-item-select">
                    <label>
                        <span class="label-title">SPH</span>
                        <select class="select2-p right-sphere-select"
                                name="<?= AttributeCodes::RIGHTEYE_SPHERE_ATTRIBUTE_CODE; ?>">
                            <?php foreach ($rightEyeSphere->getOptions() as $option): ?>
                                <option <?= ($option["label"] == 0) ? 'selected' : ''; ?>
                                        value="<?php echo $option["value"]; ?>">
                                    <?php echo $option["label"]; ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </label>
                </div>

                <div class="p-item-select">
                    <label>
                        <select class="select2-p left-sphere-select"
                                name="<?= AttributeCodes::LEFTEYE_SPHERE_ATTRIBUTE_CODE; ?>">
                            <?php foreach ($leftEyeSphere->getOptions() as $option): ?>
                                <option <?= ($option["label"] == 0) ? 'selected' : ''; ?>
                                        value="<?php echo $option["value"]; ?>">
                                    <?php echo $option["label"]; ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </label>
                </div>
            </div>


            <div class="cyl-left-right custom-table-element">
                <div class="p-item-select">
                    <label>
                        <span class="label-title">CYL</span>
                        <select class="select2-p right-cylinder-select"
                                name="<?= AttributeCodes::RIGHTEYE_CYLINDER_ATTRIBUTE_CODE; ?>">
                            <?php foreach ($rightEyeCylinder->getOptions() as $option): ?>
                                <option <?= ($option["label"] == 0) ? 'selected' : ''; ?>
                                        value="<?php echo $option["value"]; ?>">
                                    <?php echo $option["label"]; ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </label>
                </div>

                <div class="p-item-select">
                    <label>
                        <select class="select2-p left-cylinder-select"
                                name="<?= AttributeCodes::RIGHTEYE_CYLINDER_ATTRIBUTE_CODE; ?>">
                            <?php foreach ($leftEyeCylinder->getOptions() as $option): ?>
                                <option <?= ($option["label"] == 0) ? 'selected' : ''; ?>
                                        value="<?php echo $option["value"]; ?>">
                                    <?php echo $option["label"]; ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </label>
                </div>
            </div>


            <div class="axis-left-right custom-table-element">
                <div class="p-item-select">
                    <label>
                        <span class="label-title">AXIS</span>
                        <select class="select2-p right-axis-select"
                                name="<?= AttributeCodes::RIGHTEYE_AXIS_ATTRIBUTE_CODE; ?>">
                            <?php foreach ($rightEyeAxis->getOptions() as $option): ?>
                                <option value="<?php echo $option["value"]; ?>">
                                    <?php echo $option["label"]; ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </label>
                </div>
                <div class="p-item-select">
                    <label>
                        <select class="select2-p left-axis-select"
                                name="<?= AttributeCodes::LEFTEYE_AXIS_ATTRIBUTE_CODE; ?>">
                            <?php foreach ($leftEyeAxis->getOptions() as $option): ?>
                                <option value="<?php echo $option["value"]; ?>">
                                    <?php echo $option["label"]; ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </label>
                </div>
            </div>
        </div>

        <div class="custom-table-row">
            <div class="custom-table-element custom-table-element-titles">
                <div class="p-item-select p-select-title">
                    <label>
                        <span>ADD</span>
                        <span class="sub_q"><span class="tooltip"></span></span>
                    </label>
                </div>
            </div>
            <div class="custom-table-element">
                <div class="p-item-select">
                    <label>
                        <span class="label-title">OD</span>
                        <select class="select2-p left-add-select"
                                name="<?= AttributeCodes::LEFTEYE_ADD_ATTRIBUTE_CODE; ?>">
                            <option selected value="0">0</option>
                            <?php foreach ($leftEyeAdd->getOptions() as $option): ?>
                                <option value="<?php echo $option["value"]; ?>">
                                    <?php echo $option["label"]; ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </label>
                </div>
            </div>
            <div class="custom-table-element">
                <div class="p-item-select">
                    <label>
                        <span class="label-title">OS</span>
                        <select class="select2-p right-add-select"
                                name="<?= AttributeCodes::RIGHTEYE_ADD_ATTRIBUTE_CODE; ?>">
                            <option selected value="0">0</option>
                            <?php foreach ($rightEyeAdd->getOptions() as $option): ?>
                                <option value="<?php echo $option["value"]; ?>">
                                    <?php echo $option["label"]; ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </label>
                </div>
            </div>
        </div>

<!--        HERE PD SELECT -->
        <div class="custom-table-row">
            <div class="custom-table-element">
                <div class="p-item-select p-select-title">
                    <label>
                        <span>PD</span>
                        <span class="sub_q"><span class="tooltip"></span></span>
                    </label>
                </div>
            </div>
            <div class="custom-table-element">
                <div class="p-item-select">
                    <label>
                        <select class="select2-p left-add-select"
                                name="<?= AttributeCodes::LEFTEYE_ADD_ATTRIBUTE_CODE; ?>">
                            <option selected value="0">0</option>
                            <?php foreach ($leftEyeAdd->getOptions() as $option): ?>
                                <option value="<?php echo $option["value"]; ?>">
                                    <?php echo $option["label"]; ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </label>
                </div>
            </div>
        </div>

        <div class="footer-p-links">
            <div class="sub_q"><a
                        href="#"><?= __('I have two PD numbers'); ?></a></div>
            <div class="sub_q"><a
                        href="#"><?= __('I need help finding my PD'); ?></a></div>
        </div>

        <div class="next-step-button">
            <input type="submit" value="<?= __('Next step'); ?>">
        </div>

        <div class="footer-p-link">
            <div class="sub_q"><a
                        href="#"><?= __('I want lenses without prescription'); ?></a></div>
        </div>
    </form>

</div>

