<?php
/** @var \IdeaInYou\Catalog\Block\Index54 $block */
?>

<div class="q_step">
    <div class="q_step_content">
        <div class="page-attr-title">
            <h2>Do you want to add prescription lenses?</h2>
        </div>
        <form>
            <div class="answer_buttons">
                <input class="yes_button" type="submit" value="<?= __('yes') ?>">
                <input class="no_button" type="submit" value="<?= __('no') ?>">
            </div>
        </form>
    </div>
</div>
