<?php
/** @var \IdeaInYou\Catalog\Block\Index54 $block */
?>

<div class="o_step">
    <div class="o_step_content">
        <div class="page-attr-title">
            <h2>Please select the correct option</h2>
        </div>
        <form>
            <div class="options_buttons">

                <input id="op_1" name="op" type="radio"
                       value="<?= __('I want to schedule a visit to update or ask for prescription') ?>">
                <label for="op_1">
                    <?= __('I want to schedule a visit to update or ask for prescription') ?>
                </label>

                <input id="op_2" name="op" type="radio" value="<?= __('I already have prescription') ?>">
                <label for="op_2">
                    <?= __('I already have prescription') ?>
                </label>

                <input id="op_3" name="op" type="radio" value="<?= __('Add to Basket without prescription') ?>">
                <label for="op_3">
                    <?= __('Add to Basket without prescription') ?>
                </label>

            </div>
            <div class="next-step-button">
                <input type="submit" value="<?= __('Next step'); ?>">
            </div>
        </form>
    </div>
</div>
