<?php
/** @var \IdeaInYou\Catalog\Block\Index54 $block */
?>

<div class="se_step origin_step">
    <div class="se_step_content">
        <div class="page-attr-title">
            <h2>We will send you an email with more instructions!</h2>
        </div>
        <form>
            <div class="sendemail_buttons">

                <label class="email">
                    <span><?= __('Email'); ?></span>
                    <input placeholder="<?= __('Insert email'); ?>" type="text">
                </label>

            </div>


            <div class="next-step-button">
                <input type="submit" value="<?= __('Confirm'); ?>">
            </div>


        </form>
    </div>
</div>
