<?php
/** @var \IdeaInYou\Catalog\Block\Index54 $block */
?>

<div class="s_step origin_step">
    <div class="s_step_content">
        <div class="page-attr-title">
            <h2>Please schedule your visit Address management</h2>
        </div>
        <form>
            <div class="schedule_buttons">

                <label class="postal_code">
                    <span><?= __('Postal Code'); ?></span>
                    <input type="text" placeholder="<?= __('Insert Postal Code'); ?>"><input type="text">
                </label>

                <label class="address">
                    <span><?= __('Address'); ?></span>
                    <input placeholder="<?= __('Insert Address'); ?>" type="text">
                </label>

            </div>
            <div class="next-step-button">
                <input type="submit" value="<?= __('Next step'); ?>">
            </div>
        </form>
    </div>
</div>
